:root {
    --color-maroon: #800000;
    --color-yellow: #ffdf00;
    --color-light-maroon: #b30000;
    --color-light-yellow: #ffe74d;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.inner-container {
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .inner-container {
        width: 40%;
    }
}

@media (max-width: 1399px) {
    .inner-container {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .inner-container {
        width: 100%;
    }
}

.action-close {
    display: flex;
    justify-content: flex-end;
}

.close-btn,
.close-profile-btn {
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.close-btn {
    color: var(--color-maroon);
}

.close-profile-btn {
    color: var(--color-yellow);
}

.form-card {
    font-size: 24px;
    border-radius: 20px;
    padding: 40px;
}

.form-card {
    color: var(--color-maroon);
    border: 1px solid var(--color-maroon);
}

.profile-card {
    color: #ffffff;
    background-color: var(--color-maroon);
}

.book-info-card {
    font-size: 32px;
    color: var(--color-maroon);
}

.profile-info-card {
    font-size: 32px;
    color: var(--color-yellow);
}

.book-add-img,
.book-upd-img,
.book-details-img,
.book-borrow-img,
.book-return-img,
.book-borrowed-img,
.book-overdue-img,
.book-history-img,
.book-decline-img,
.student-pfp-img,
.librarian-pfp-img {
    width: 100px;
    height: 100px;

    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25rem;
}

.card-field-categ {
    display: flex;
    flex-direction: column;
}

.pfp-card-field label,
.card-field label,
.card-field-categ label,
.card-area label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.card-field label,
.card-field-categ label,
.card-area label {
    color: var(--color-maroon);
}

.pfp-card-field label {
    color: var(--color-yellow);
}

.card-field input,
.card-field-categ select,
.card-area textarea {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-maroon);
    font-size: 16px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-save,
.btn-cancel,
.btn-changepass {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    top: 0;
    display: inline-block;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.btn-save,
.btn-cancel {
    width: 110px;
}

.btn-changepass {
    width: 500px;
    color: var(--color-maroon);
    background-color: var(--color-yellow);
    border-color: var(--color-maroon);
}

.btn-save {
    color: var(--color-maroon);
    background-color: var(--color-yellow);
    border-color: var(--color-maroon);
}

.btn-cancel {
    color: var(--color-yellow);
    background-color: var(--color-maroon);
    border-color: var(--color-yellow);
}

.btn-save:hover,
.btn-cancel:hover,
.btn-changepass:hover  {
    transform: scale(1.03);
}

.btn-save:active,
.btn-cancel:active,
.btn-changepass:active {
    top: 3px;
}

.btn-save:active,
.btn-changepass:active {
    box-shadow: 0 5px 0px var(--color-yellow);
}

.btn-cancel:active {
    box-shadow: 0 5px 0px var(--color-maroon);
}

.approved-badge,
.pending-badge,
.declined-badge {
    padding: 4px 24px;
    border-radius: 24px;
    border: 1px solid;
    font-weight: 500;
    font-size: 16px;
}

.approved-badge {
    background-color: #90ee90;
    color: #006400;
}

.pending-badge {
    background-color: #fcf09c;
    color: #7c6c03;
}

.declined-badge {
    background-color: #ff8a8a;
    color: #8b0000;
}
