:root {
    --color-maroon: #800000;
    --color-yellow: #ffdf00;
    --color-light-maroon: #b30000;
    --color-light-yellow: #ffe74d;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.inner-container {
    width: 40%;
    margin: 0 auto;
}

.form-card {
    color: var(--color-maroon);
    font-size: 24px;
    border-radius: 20px;
    padding: 40px;
    border: 1px solid var(--color-maroon);
}

.book-info-card {
    font-size: 32px;
    color: var(--color-maroon);
}

.book-add-img,
.book-upd-img,
.book-details-img,
.book-borrow-img {
    width: 100px;
    height: 100px;

    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25rem;
}

.card-field-categ {
    display: flex;
    flex-direction: column;
}

.card-field label,
.card-field-categ label,
.card-area label {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-maroon);
    margin-bottom: 4px;
}

.card-field input,
.card-field-categ select,
.card-area textarea {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-maroon);
    font-size: 16px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-save,
.btn-cancel {
    width: 110px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    top: 0;
    display: inline-block;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.btn-save {
    color: var(--color-maroon);
    background-color: var(--color-yellow);
    border-color: var(--color-maroon);
}

.btn-cancel {
    color: var(--color-yellow);
    background-color: var(--color-maroon);
    border-color: var(--color-yellow);
}

.btn-save:hover,
.btn-cancel:hover {
    transform: scale(1.03);
}

.btn-save:active,
.btn-cancel:active {
    top: 3px;
}

.btn-save:active {
    box-shadow: 0 2px 0px var(--color-yellow);
}

.btn-cancel:active {
    box-shadow: 0 2px 0px var(--color-maroon);
}
